PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/eventhub
JWT_SECRET=replace_with_a_long_random_string
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_BROWSER_KEY=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=
NODE_ENV=production
